.contentTop img,
.contentBottom img {
  width: 300px;
  /* height: 200px; */
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin: 10px 20px 10px 10px;
}
.contentTop:nth-child(odd) img,
.contentBottom:nth-child(odd) img {
  float: left;
}
.contentTop:nth-child(even) img,
.contentBottom:nth-child(even) img {
  float: right;
}
.contentTop p {
  font-size: 20px;
}
h3 {
  font-size: 24px !important;
}
.contentTitle {
  font-size: 24px;
  color: orange;
}
.content ol,
.conteent ul {
  padding-left: 5rem !important;
}
@media screen and (max-width: 992px) {
  .contentTop img,
  .contentBottom img {
    width: 100%;
    /* height: 200px; */
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .contentTop img,
  .contentBottom img {
    width: 40%;
    /* height: 200px; */
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: 0;
    margin: 10px 20px 10px 10px;
  }
}
