.content {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 100px !important;
}
.container {
  max-width: 1200px !important;
}
.content .row {
  align-items: center;
}
.banner {
  margin: 2rem 0;
}
.banner .row {
  height: auto;
  background-color: #333;
  margin-bottom: 2rem;
}

.bannerContent-Title {
  color: #fff;
}

/* .contentTop img,
.contentBottom img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin: 10px 20px 10px 10px;
}
.contentTop:nth-child(odd) img,
.contentBottom:nth-child(odd) img {
  float: left;
}
.contentTop:nth-child(even) img,
.contentBottom:nth-child(even) img {
  float: right;
}
p {
  font-size: 24px;
}
h3 {
  font-size: 24px !important;
}
.content ol,
.content ul {
  padding-left: 5rem !important;
}
} */
.contentTitle {
  font-size: 24px;
  color: orange;
}
@media screen and (max-width: 768px) {
  .content {
    padding: 10px !important;
  }
  .container {
    max-width: 100% !important;
  }
  .bannerButton {
    display: flex;
    justify-content: center;
  }
}
