.content {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 100px !important;
}
.container {
  max-width: 1200px !important;
}
.content .row {
  align-items: center;
}
.banner {
  margin: 2rem 0;
}
/* .banner .row {
  height: auto;
  margin-bottom: 2rem;
} */
.bannerContent {
  background-color: #777777b9;
  height: auto;
  padding: 0.2rem;
  border-radius: 10px;
}
.bannerContent-Title {
  color: #fff;
}
.contentTitle {
  font-size: 24px;
  color: orange;
}
.bannerContent-Title {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 10px !important;
  }
  .container {
    max-width: 100% !important;
  }
  .bannerButton {
    display: flex;
    justify-content: center;
  }
}
