.wrap {
  height: 100vh;
  position: relative;
  flex-direction: column;
  background-color: #333333;
}
.wrap img {
  position: absolute;
  top: 10%;
}

.form {
  width: 350px;
  height: 350px;
  padding: 20px;
  border-radius: 10px;
  background: #f9f6f6;
  box-shadow: 50px 50px 100px #c2c0c0, -50px -50px 100px #ffffff;
}
