@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.pannelAdmin .row {
  height: 100%;
  margin-right: 0 !important;
  margin-top: 1rem !important;
  --bs-gutter-x: 0 !important;
}
.pannelAdmin {
  position: relative;
  flex-wrap: nowrap !important;
}

.sidebar {
  height: 100vh;
  width: 100%;
}
.menu {
  background-color: #777;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.sidebar-logo img {
  padding: 20px;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}
.sidebar-avatar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.sidebar-avatar img {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
}
.sidebar-avatar span {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin-left: 10px;
}
.sidebar-avatar p {
  margin-right: 1rem;
}
.menu-headDirection ul {
  padding: 0;
}
.menu-headDirection ul li {
  margin: 0.5rem auto;
  list-style: none;
  padding: 0;
  color: #fff;
  padding: 0.2rem;
}
.menu-headDirection ul li i {
  padding-left: 0.2rem;
}

.menu-headDirection ul li:hover {
  background-color: rgb(252, 183, 56);
}
.menu-headDirection ul a {
  text-decoration: none;
}
.headDirection {
  display: flex;
  justify-content: space-between;
}
.fa-2x {
  font-size: 2em;
}
.menu-bot .btn-admin {
  margin-bottom: 1rem;
}
.menu-bot ul {
  padding: 0;
  width: 100%;
}
.menu-bot ul li {
  list-style: none;
  width: 100%;
}
.menu-bot ul li button {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
}
.menu-bot ul li button i {
  font-size: 24px;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.nav-text {
  font-size: 1rem;
  margin-right: 1rem;
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}
@media screen and (max-width: 768px) {
  .contentTable {
    width: calc(100% - 12%);
  }
  .TitleAdmin {
    width: calc(100% - 12%) !important;
  }
  .sidebar {
    width: 12% !important;
    height: auto;
    padding: 0 !important;
    transition: 0.25s ease-in-out;
  }
  .pannelAdmin {
    overflow: hidden;
  }
  .pannelAdmin .row {
    --bs-gutter-x: none;
  }
  .dashboardTableData {
    width: 88% !important;
  }
  .dashboardTableDataContact {
    width: calc(100% - 47%);
  }
  .sidebar.active {
    width: 15rem !important;
  }

  .react-bootstrap-table {
    height: 30rem;
    overflow-y: scroll !important;
  }
  .react-bootstrap-table-pagination {
    width: 50% !important;
    flex-wrap: nowrap !important;
  }
}
