@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.pannelAdmin .row {
  height: 100%;
  margin-right: 0 !important;
  margin-top: 1rem !important;
  --bs-gutter-x: 0 !important;
}
.pannelAdmin {
  position: relative;
  flex-wrap: nowrap !important;
}

.sidebar {
  height: 100vh;
  width: 100%;
}
.menu {
  background-color: #777;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.sidebar-logo img {
  padding: 20px;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}

.sidebar-avatar img {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
}
.sidebar-avatar span {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin-left: 10px;
}
.menu-headDirection ul {
  padding: 0;
}
.menu-headDirection ul li {
  margin: 0.5rem auto;
  list-style: none;
  padding: 0;
  color: #fff;
  padding: 0.2rem;
}
.menu-headDirection ul li i {
  padding-left: 0.5rem;
}

.menu-headDirection ul li:hover {
  margin: 0.5rem auto;
  list-style: none;
  padding: 0;
  background-color: rgb(167, 247, 240);
}
.menu-headDirection ul a {
  text-decoration: none;
}

.fa-2x {
  font-size: 2em;
}
.menu-bot .btn-admin {
  margin-bottom: 1rem;
}
.menu-bot ul {
  padding: 0;
  width: 100%;
}
.menu-bot ul li {
  list-style: none;
  width: 100%;
}
.menu-bot ul li button {
  width: 100%;
  margin: 0.5rem 0;
}
.menu-bot ul li button i {
  font-size: 24px;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.nav-text {
  font-size: 1.2rem;
  padding: 0 2rem;
}
/* }
.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0.7rem;
}

.main-menu li {
  position: relative;
  display: block;
  width: 100%;
}

.main-menu li > a {
  width: 100%;
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
} */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}
@media screen and (max-width: 768px) {
  .sidebar {
    width: 12% !important;
    height: auto;
    padding: 0 !important;
    transition: 0.3s ease-in;
  }
  .pannelAdmin {
    overflow: hidden;
  }
  .pannelAdmin .row {
    --bs-gutter-x: none;
  }
  .dashboardTableData {
    width: 88% !important;
  }
  .dashboardTableDataContact {
    width: 60% !important;
  }
  .sidebar.active {
    width: 15rem !important;
  }
  /* .dashboardTableData {
    overflow-y: scroll;
  } */
  .react-bootstrap-table {
    height: 30rem;
    overflow-y: scroll !important;
  }
  .react-bootstrap-table-pagination {
    width: 50% !important;
    flex-wrap: nowrap !important;
  }
}
