.navbarFixed.active {
  background-image: url("/public/image/background.jpg") !important;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  position: relative;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  z-index: 1;
  position: fixed;
  top: 0;
  height: 80px;
  transition: 0.7s all;
}
.navbar.background {
  background-image: url("/public/image/background.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  overflow: hidden;
}

.navbar{
  width: 100%;
}